<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Section1.Name" value="Name"/>
    <add key="Section1.Limit" value="123"/>
    <add key="Section1.OptionItems:0:Id" value="1"/>
    <add key="Section1.OptionItems:0:Value" value="Value1"/>
    <add key="Section1.OptionItems:1:Id" value="2"/>
    <add key="Section1.OptionItems:1:Value" value="Value2"/>
    <add key="Section1.OptionItems:2:Id" value="3"/>
    <add key="Section1.OptionItems:2:Value" value="Value3"/>
    <add key="Section2.Name" value="Name"/>
    <add key="Section2.Limit" value="123"/>
    <add key="Section2.OptionItems" value="&quot;[{ &quot;Id&quot;: 1, &quot;Value&quot;:&quot;Value1&quot;}, { &quot;Id&quot;: 2, &quot;Value&quot;:&quot;Value2&quot;}, { &quot;Id&quot;: 3, &quot;Value&quot;:&quot;Value3&quot;}]&quot;"/>
    <add key="Section3.Name" value="Name"/>
    <add key="Section3.Limit" value="123"/>
    <add key="Section3.OptionItems" value="[{ &quot;Id&quot;: 1, &quot;Value&quot;:&quot;Value1&quot;}, { &quot;Id&quot;: 2, &quot;Value&quot;:&quot;Value2&quot;}, { &quot;Id&quot;: 3, &quot;Value&quot;:&quot;Value3&quot;}]"/>
  </appSettings>
</configuration>